
<!--Footer-->
<footer class="page-footer center-on-lgall-only" style="background-color: #3f51b5;" >
    <!--Footer Links-->
    <!--<div class="call-to-action" style="background-color: gainsboro;">-->
        <!--<ul>-->
            <!--<li><a href="http://iitj.ac.in/" class="btn btn-primary btn-rounded">IITJ Homesite</a></li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--/.Call to action-->
    <!--Social buttons-->
    <!--<div class="social-section text-center" style="background-color: gainsboro;">-->
        <!--<ul>-->
            <!--<li><a class="btn-floating btn-lg btn-fb"><i class="fa fa-facebook" style="color: #3b5998;"> </i></a></li>-->
            <!--<li><a class="btn-floating btn-lg btn-li"><i class="fa fa-linkedin" style="color: #0077b5;"> </i></a></li>-->

        <!--</ul>-->
    <!--</div>-->
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid" >
            Designed & Maintained by Office of Student Placements IIT, Jodhpur
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->
