<div class="main-heading">
    <div class="row">
        <div class="col-md-12">
            <div class="media" style="margin-left: auto; margin-bottom: 1px; margin-top: 1rem; margin-right: auto;">
                <a  class="thumbnail pull-left">
                    <img src="public/img/logo2.png" alt="IIT Jodhpur" class="logo" style="height:5rem; width:auto;">
                </a>
                <div class="media-body" style="margin-left:10px; margin-top: 10px;">


                    <a href="http://iitj.ac.in/" class=" pull-right" style="margin-right: 0.5rem">IITJ Homesite</a>


                    <h4 class="heading big" style="font-weight:400"><a href="http://spc.iitj.ac.in/" style="color: black;">Office of Student Placements</a></h4>
                    <p class="pull-right">

                        <a class="btn-floating btn-lg btn-fb" href="https://www.facebook.com/SPC.IITJ/"><i class="fa fa-facebook"
                                                                 style="color: #3b5998;"> </i></a></li>
                        <a class="btn-floating btn-lg btn-li" href="https://www.linkedin.com/in/office-of-student-placements-iit-jodhpur-62a31352/"><i class="fa fa-linkedin"
                                                                 style="color: #0077b5;"> </i></a></li>


                    </p>
                    <h6 class="heading" style="margin-top:-0.40rem;">IIT JODHPUR </h6>

                    <br>
                </div>
            </div>
        </div>
    </div>
   <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-toggleable-md navbar-dark" style="background-color: #3f51b5;">
        <div class="container">
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseEx12" aria-controls="collapseEx12" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                 </button>

            <div class="collapse navbar-collapse" id="collapseEx12">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item btn-group hoverable">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Home</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="/">About Us</a>
                            <!-- <a class="dropdown-item" href="/newindex">New Index</a> -->
                            <a class="dropdown-item" href="/invitation">Invitation</a>
                            <a class="dropdown-item" href="/dir_msg">Director's Message</a>
                            <!--<a class="dropdown-item" href="/chrmn_msg">Chairman's Message</a> -->
                        </div>
                    </li>
                    <li class="nav-item btn-group hoverable">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Academics</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="/gradesystem">Gradesystem</a>
                            <a class="dropdown-item" href="/programs">Programmes</a>
                            <a class="dropdown-item" href="/admissions">Admission Procedure</a>
                        </div>
                    </li>
                    <li class="nav-item btn-group hoverable">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Students</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="/achievements">Achievements</a>
                            <a class="dropdown-item" href="/profile">Prospective</a>
                            <a class="dropdown-item" href="/alumni">Alumni's Words</a>
                            <a class="dropdown-item" href="/student_rules">Norms/Guidelines</a>
                            <a class="dropdown-item" href="/internships">Internships</a>
                        </div>
                    </li>
                    <li class="nav-item btn-group hoverable">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Company</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="/brochure">Brochure</a>
                            <!-- <a class="dropdown-item" href="/summary">Summary</a> -->
                            <a class="dropdown-item" href="/placementProcedure">Placement Procedure</a>
                            <a class="dropdown-item" href="/company_rules">Norms/Guidelines</a>
                            <a class="dropdown-item" href="/past_recruiters">Past Recruiters</a>
                            <a class="dropdown-item" href="/aipc">AIPC Norms</a>
                        </div>
                    </li>
                    <li class="nav-item btn-group hoverable">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Why Recruit</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="/newBreed">The New Breed</a>
                            <!--  <a class="dropdown-item" href="/coe">Centre of Excellence</a> -->
                            <a class="dropdown-item" href="/research">R & D</a>
                            <a class="dropdown-item" href="/facilities">Facilities</a>
                        </div>
                    </li>
                    <li class="nav-item btn-group hoverable">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Forms</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="/jaf">JAF</a>
                            <a class="dropdown-item" href="/iaf">IAF</a>

                        </div>
                    </li>
                    <li class="nav-item btn-group hoverable">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Contact Us</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="/contacts">Contacts</a>
                            <a class="dropdown-item" href="/reachus">Reach Us</a>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav nav-right">
                    <li class="nav-item hoverable">
                        <a class="nav-link" href="/student/login">Student Login</a>
                    </li>
                    <li class="nav-item hoverable" style="float:right;">
                        <a class="nav-link" href="/company/login">Company Login</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <br>
   <!--<marquee scrollamount="5">NEWS:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span >New Chairman Appointed &nbsp;<span
                    class="badge indigo">New</span></span> &nbsp;&nbsp;&nbsp;&nbsp; <span>Formation of New Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span >Introduction Session for Freshmen Year&nbsp;&nbsp;&nbsp;<span
                    class="badge indigo">New</span></span></marquee>-->

