<html>
<head>
<%include ../header.ejs%>
</head>

<body style="margin:0px auto ;">

<%include ../heading+nav.ejs %>

    <br><br>
<div class="row">
    <div class="col-lg-2" id="past_recruiters">
<% include ../past_rec.ejs %>
    </div>
    <div class="col-lg-10">
        <div class="card">
            <div class="card" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Chairman's Message</span></div>
            <div class="card-block">
                <p class="card-text">
                    To be updated...
            </div>
        </div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-1">
    </div>
</div>

<%include ../footer.ejs%>
<!-- JQuery -->
<script type="text/javascript" src="public/js/jquery-3.1.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="public/js/tether.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="public/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="public/js/mdb.min.js"></script>
</body>

</html>
