<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="public/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="public/css/style.css" rel="stylesheet">
    <link rel="icon" href="/public/img/iitj.png">
    <title>Office of Students' Placement, IIT Jodhpur</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        
        .container {
            .row {
                margin-left: -15px;
                margin-right: -15px;
            }
        }
    </style>
</head>

<body style="margin:0px auto;">

    <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseEx12" aria-controls="collapseEx2" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <a class="navbar-brand" href="#"><img src="public/img/iitj.png" width="30px" height="30px"></img>
            </a>
            <div class="collapse navbar-collapse" id="collapseEx12">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item btn-group">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Academics</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="/gradeSystem">Gradesystem</a>
                            <a class="dropdown-item" href="/programs">Programmes</a>
                        </div>
                    </li>
                    <li class="nav-item btn-group">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Students</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="/rules">Rules and Guidelines</a>
                            <a class="dropdown-item" href="/internships">Internships</a>
                        </div>
                    </li>
                    <li class="nav-item btn-group">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Company</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="/placementProcedure">Placement Procedure</a>
                        </div>
                    </li>
                    <li class="nav-item btn-group">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Why Recruit</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="/newBreed">The New Breed</a>
                            <a class="dropdown-item" href="/coe">Centre of Excellence</a>
                            <a class="dropdown-item" href="/research">R & D</a>
                            <a class="dropdown-item" href="/facilities">Facilites</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reachUs">Reach Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts">Contact Us</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!--/.Navbar-->
    <!-- <h2 align="center" style=" font- family: Arial, Helvetica, sans-serif;">Office of Students' Placement, IIT Jodhpur</h2> -->
    <div class="row">
        <img src="public/img/spc.jpg" width="100%" height="300px" style="opacity:0.7;"></img>
    </div>
    <br>
    <div class="row" align="center">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"><a href="/student/login" class="btn btn-primary primary">Student Login</a></div>
        <div class="col-sm-3"><a href="/company/login" class="btn btn-primary primary">Company Login (& Registration)</a></div>
    </div><br><br>


    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-8">
            <div class="row">
                <h2 style="color:black;"><b>New Breed</b></h2><br>
                <p align="justify">
                    <font face="" color="#000000" size="3">
                        Though India produces 300000-400000 engineers per year, the onus of today’s age is to create quality engineers who don’t just engineer but also create and innovate. It is this vision that fuels IIT Jodhpur. The students in IIT Jodhpur are motivated and trained extensively to this effect. They are the recent “New Breed”, who emerged as a result of embracing the interdisciplinary perspectives and have been nurtured with quality and innovation. Due to their unique exposure they have gained a repository of creativity that defies all conventions. 
                    </font>
                    <p align="justify">
            </div>


            <div class="row" id="text1" style="display: none;">
                <h3><b>Lab Setups</b></h3>
                <p align="justify">
                    <font face="" color="#000000" size="3">Students, especially those of the pioneer batch have incredible involvement and experience of two years in setting up labs. They have good understanding of the intricate features such as calibrating and configuring the instruments. They have also highly developed proactive skills in experiment design as they have been directly assisting the professors in this regard.</font>

                </p>
                <h3><b>Institute Level Projects</b></h3>
                <p align="justify">
                    <font face="" color="#000000" size="3">
                        Students here have high early exposure to industry through a variety of institute level projects in collaboration with companies. These simulate a virtual work environment at the undergraduate level and empower the students to be professionals even at entry-level jobs. Few noteworthy examples are the ingenious 35$ tablet pc testing and development in collaboration with MHRD and the system software “ANURAG” project in collaboration with DRDO and Algo Systems.
                    </font>
                </p>
                <h3><b>Institute Management</b></h3>
                <p align="justify">
                    <font face="" color="#000000" size="3">
                        A rather rare and undoubtedly major asset of the students, especially the pioneer batch, is the experience of institute management. These students have had an exciting opportunity to participate in building the institute from scratch. The whole gamut of activities such as the Counselling Service, Placement Services, mess facilities, Institute festivals, etc. is managed by students with the help of faculty members. An opportunity such as this allows a student to acquire managerial abilities, for in doing these things he learns not only the managerial methods but also the Indian system of “Jugaad” for generating quick solutions to stubborn problems.
                    </font>
                </p>
                <h3><b>Giving Back To Society</b></h3>
                <p align="justify">
                    <font face="" color="#000000" size="3">
                        Inspired by the Director's vision, the Institute is under constant effort to conform to the ethical value of contributing one’s part to the society. Students help plant trees, dispose garbage, and think of solutions for the rural poor. This not only gives the organization a holistic aspect but also attracts attention to the largest section of the Indian population – the rural and those on the margin. In the coming times these rural people would form an integral component of modern Indian Society with the largest purchasing power. The students of IIT Jodhpur would be more than prepared for such a change.
                    </font>
                </p>
                <h3><b>Research</b></h3>
                <p align="justify">
                    <font face="" color="#000000" size="3">
                        Institute has various labs which allow undergraduates to work alone or in groups in developing exciting solutions to problems in the Industry as well as in the Academia. Creativity is sustained and kindled in the students through a large number of competitions organized by students in the spheres of technology, arts and management thereby providing for the holistic development of the individual. This is signified by the Institute level SCHOD (Student Council for Holistic Development), entirely managed by the student community. All of this happens simultaneously with regular coursework preparing students for a pulsating and busy life, teaching them how to love work. Hence the research potential of students in the institute grows in acuity, thereby allowing them to reach new zeniths of creativity without any jeopardy to their jobs.
                    </font>
                </p>
            </div>
            <a style="color:blue;align-content:right;" id="btn1" onclick="myFunction()">Read more..</a><br>
            <hr>
        </div>
        <div class="col-lg-3">
            <ul>
                <li><a>Abou IITJ</a></li>
                <li><a>Downloads</a></li>
                <li><a>Past Recruiters</a></li>
            </ul>
        </div>
    </div>

    <div class="container" style="background:#4285F4;">

    </div>
    <!-- SCRIPTS -->
    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById('text1');
            var y = document.getElementById('btn1');
            if (x.style.display === 'none') {
                x.style.display = 'block';
                y.innerHTML = 'Hide'


            } else {
                x.style.display = 'none';
                y.innerHTML = 'Read More..'
            }
        }

        function myFunction1() {
            var x = document.getElementById('text2');
            var y = document.getElementById('btn2');
            if (x.style.display === 'none') {
                x.style.display = 'block';
                y.innerHTML = 'Hide'


            } else {
                x.style.display = 'none';
                y.innerHTML = 'Read More..'
            }
        }
    </script>
    <!-- JQuery -->
    <script type="text/javascript" src="public/js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="public/js/tether.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="public/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="public/js/mdb.min.js"></script>
</body>

</html>